
*{margin: 0; padding: 0; }
	
p
{
	padding : 10px 5px 15px 20px;
}

		
h2		
{
	background-color:#5c755e;
	height:20px;
	padding: 10px;
	position:relative;
	margin : 10px;
}
body
{
	min-width : 1000px;
	font-family: Arial;
	color:black;
	background-color: #FAFAD2;
	min-width: 900px;
	text-align:left;
	background-image:url('Background.png');
}
	
#Listing
{
	padding : 20px 5px 15px 20px;
	margin:20px;
}


h3
{	
	margin:10px;
	padding:10px;
}

#nav ul
{
	text-align: center;
}

#header
{
	background-color: #5c755e;
	margin: 10px;
	min-width: 802px;
    height: 99px;/*100px with border*/
    position: relative;
    border-bottom: 1px solid black;
	font-size:70px;
	text-align : center;
   
}


#headerSub
{
	background-color: #5c755e;
	margin: 10px;
	min-width: 802px;
    height: 79px;
    position: relative;
    border-bottom: 2px solid black;
	font-size:50px;
   
}
	

#picture img
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.pictureSub img
{
	display:block;
	width:600px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
	

#nav li
{
	display : inline-block;
	width:200px;
	height:40px;
	background-color: black;
	opacity: .7;
	line-height: 40px;
	text-align: center;
	
}

ul li a 
{
	text-decoration: none;
	color: white;
	display: block;
}

table th 
{
	text-align: left;
	background-color: #3a6070;
	color:#FFF;
	padding: 4px 30px 4px 8px;
}
table td
{
	border: 1px solid #e3e3e3;
	padding: 4px;
}

ul li a:hover
{
	background-color:green
}

table.center 
{
    margin-left:auto; 
    margin-right:auto;
}